<nav class="navbar navbar-collapse bg-light">
  <a class="navbar-brand" routerLink="/pacotes">
    <i class="material-icons">card_travel</i>
    Pacotes
  </a>
  <h4 class="font-weight-bolder">Funy Turismo</h4>
  <ul>

    <a class="" href="#">
      <i class="material-icons">check_box</i>
      Cadastrar
    </a>
  </ul>

</nav>
<div class="main">
  <div class="content">
    <form class="form-signin">

      <h1 class="h3 mb-3 font-weight-normal">Faça login</h1>
      <label for="inputEmail" class="sr-only">Endereço de email</label>
      <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Seu email" required autofocus>
      <label for="inputPassword" class="sr-only">Senha</label>
      <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Senha" required>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Lembrar de mim
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>

    </form>
  </div>
</div>