<nav class="navbar navbar-collapse bg-light">
    <a class="navbar-brand" routerLink="/pacotes">
        <i class="material-icons">card_travel</i>
        Pacotes
    </a>
    <h4 class="font-weight-bolder">Funy Turismo</h4>
    <ul>
        <a class="" routerLink="/login" style="float: right;">
            <i class="material-icons">fingerprint</i>
            Login
        </a>
    
        <a class="" routerLink="/cadastrar">
            <i class="material-icons">check_box</i>
            Cadastrar
        </a>
    </ul>
    
  </nav>
<div class="main">
    <div class="container">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" >
              <div class="carousel-item active"  >
              <img class="d-block w-100" src="{{images[0]}}"   alt="Primeiro Slide">
              <div class="carousel-caption d-none d-md-block">
                <h2 class="texCorucel">Venha conecer nossa agência Funy Turismo</h2>
                <p class="texCorucel">...</p>
              </div>
              </div>

              <div class="carousel-item">
                <img class="d-block w-100" src="{{images[1]}}"   alt="Segundo Slide">
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="texCorucel">Cinco dias em Fernando de Noronha</h3>
                    <p class="texCorucel">Café da manhã, almoço e passeio de barco</p>
              </div>
              </div>

              <div class="carousel-item">
                <img class="d-block w-100" src="{{images[2]}}"   alt="Terceiro Slide">
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="texCorucel">Cinco dias em Capitolio</h3>
                    <p class="texCorucel">Café da manhã, almoço e passeio de barco</p>
              </div>
              </div>

            </div>
          </div>      
    </div>
</div>
